body
	background #1E2028

.images-container
	display flex
	flex-flow row
	justify-content center
	align-items center
	height 100%
	img
		width 100%
		height auto
	.gal-img
		display none
	.current-img
		display block

.icon-left-open, .icon-right-open
	display block
	position fixed
	color rgba(60,60,60, 0.7)
	bottom 40px
	font-size 3em
	height 1em
.icon-left-open
	left 5%
.icon-right-open
	right 5%

button
	position fixed
	font-size 40px
	top 0px
	left 0px
	padding 10px
	background none
	color rgba(255,255,255, 1)
	border 0px solid black
	transition left 0.3s
	.nav-toggle
		transition color 0.8s
		transition left 0.3s
		cursor pointer

.nav-full
	position fixed
	// 199px negative
	left -199px
	top 0px
	bottom 0px
	padding 1em
	transition left 0.3s
	background rgba(30,32,40,0.8)
	a
		display block
		text-decoration none
		color rgba(255,255,255,0.8)
		font-size 18px
		line-height 1.5em

.unfold-toggle
	left 199px


.nav-active
	left 0px

@media all and (max-width 600px)
	.nav-full
		a
			color white

@media all and (min-width 601px)
	.images-container
		img
			width 100%
	button
		.nav-toggle
			color rgba(255,255,255, 0.6)
			background pink

		&:hover
			color rgba(255,255,255, 1)
	.nav-full
		a
			&:hover
				color white
