body
	background #1E2028
	
.images-container
	display flex
	flex-flow row
	justify-content center
	align-items center
	height 100%

.images-container
	img
		width 100%
	.gal-img
		display none
	.current-img
		display block

.image-selector
	position fixed
	bottom 40px
	left calc(50% - 78px)
	font-size 4rem
	color rgba(60,60,60, 0.7)
	.icon-right-dir, .icon-left-dir
		font-size 1em
		text-shadow 0px 0px 2px rgba(200, 200, 200, 0.3)
		cursor pointer


.toggle
	color white
	position fixed
	font-size 40px
	left 0px
	padding 10px
	color rgba(255,255,255, 1)
	transition color 0.8s
	transition left 0.3s
	cursor pointer

.nav-full
	position fixed
	// 199px negative
	left -199px
	top 0px
	bottom 0px
	padding 1em
	transition left 0.3s
	background rgba(30,32,40,0.8)
	a
		display block
		text-decoration none
		color rgba(255,255,255,0.8)
		font-size 18px
		line-height 1.5em

#nav-toggler
	display none
	&:checked + .images-container
		.nav-full
			left 0px
		.toggle
			left 199px

@media all and (max-width 600px)
	.nav-full
		a
			color white
@media all and (min-width 601px)
	.images-container
		img
			height auto
			width 100%
			display flex
	.toggle
		color rgba(255,255,255, 0.6)
		
		&:hover
			color rgba(255,255,255, 1)
	.nav-full
		a
			&:hover
				color white