mobile-title = 1rem
mobile-body-text = 0.7rem

body
	@media screen and (max-width 600px)
		font-size mobile-body-text
		.about, .info, .news
			flex 1 100%
		header
			h1
				display none
		.links
			font-size 0.8rem
			display flex
			flex-flow column nowrap
			height auto

// @media all and (max-width 600px)
// 	.home__nav, .info__header, .third__third__title
// 		font-size mobile-title

/* Medium to big screens media query */

@media all and (min-width 601px)
	.info
		order 1
		flex-flow column
	.news, .article
		flex 2
		flex-flow column
	.single-item
		height 13em
		width 20em
		img
			height 13em
@media all and (min-width 800px)
	.single-item
		height 16em
		width 25em
		img
			height 16em

@media all and (min-width 1024px)
	.single-item
		height 22em
		width 35em
		img
			height 22em

@media all and (min-width 1280px)
	.single-item
		height 30em
		width 44em
		img
			height 30em
@media all and (min-width 1440px)
	.single-item
		height 33em
		width 48em
		img
			height 33em
@media all and (min-width 1920px)
	.single-item
		height 46em
		width 70em
		img
			height 46em
