article
	a(href='article2.html')
		h1 ¡Bogotá campeona!
	img(src='img/campeona.jpg')
	p Authoritatively restore flexible catalysts for change whereas superior growth strategies. Conveniently engage fully tested networks rather than intuitive meta-services. Collaboratively seize just in time technologies without prospective leadership. 

	p Intrinsicly deploy long-term high-impact value and client-focused platforms. Credibly incentivize optimal growth strategies after bleeding-edge e-tailers. Monotonectally impact equity invested testing procedures before enterprise vortals. 

	p Professionally develop premium process improvements via extensible customer service. Appropriately administrate backend human capital through customized best practices. Rapidiously actualize fully tested solutions through strategic alignments. 

	p Dramatically pursue open-source paradigms before tactical applications. Appropriately simplify client-focused total linkage after performance based resources.