extends layouts/gallery-ly.jade

block title
	title Seminario Mayo

block css
	link(rel='stylesheet' href='/css/gallery.css')

block images
	img.gal-img.current-img(src='/img/gal-seminario-040515/1.jpg')
	img.gal-img(src='/img/gal-seminario-040515/2.jpg')
	img.gal-img(src='/img/gal-seminario-040515/3.jpg')
	img.gal-img(src='/img/gal-seminario-040515/4.jpg')
	img.gal-img(src='/img/gal-seminario-040515/5.jpg')
