extends layouts/gallery-ly.jade

block title
	title Seminario Mayo

block images
	img(src='/img/gal-seminario-040515/1.jpg')
	img(src='/img/gal-seminario-040515/2.jpg')
	img(src='/img/gal-seminario-040515/3.jpg')
	img(src='/img/gal-seminario-040515/4.jpg')
	img(src='/img/gal-seminario-040515/5.jpg')
