extends layouts/media-ly.jade

block title
  title Galerías

block headline
  h1.headline Galerías  

block galleries
  
  .gallery-card-video
    iframe(id='ytplayer' type='text/html' width='320' height='195' src='http://www.youtube.com/embed/FShQGOqXnN4' frameborder='0')
    h4 Juramento Karate Do - Dojo Kun
    
  .gallery-card-video
    iframe(id='ytplayer' type='text/html' width='320' height='195' src='http://www.youtube.com/embed/2CJkdPD6SKA' frameborder='0')
    h4 40 años de la Liga de Karate de Bogotá
    
  //- gallery-card-image
  
  .gallery-card-video
    iframe(id='ytplayer' type='text/html' width='320' height='195' src='http://www.youtube.com/embed/I-PFZihaFP8' frameborder='0')
    h4 Mensaje de año nuevo LKB
