extends layouts/results-ly

block title
	title Resultados Deportivos de la LKB

block headline
	h1 Resultados de la LKB

block results
	.result-card
		.cell
			h6 Año
			p 2014
		.cell
			h6 Evento
			p Juegos Nacionales
		.cell
			h6 modalidad
			p kata
		.cell
			h6 categoría
			p mayores
		.cell
			h6 atletas
			p 6
		.cell
			h6 entrenadores
			p 1
		.cell
			h6 oficiales
			p 4
		.cell
			h6 oro
			p 2
		.cell
			h6 plata
			p -
		.cell
			h6 bronce
			p 3