article
	a(href='article2.html')
		h1 Nacionales Cali - Día 1
	img(src='img/day1.jpg')
	p Globally impact mission-critical users after distinctive manufactured products. Phosfluorescently recaptiualize client-based e-tailers for goal-oriented opportunities. Holisticly maximize orthogonal internal or "organic" sources with best-of-breed e-markets. 

	p Interactively supply end-to-end metrics via client-centric initiatives. Enthusiastically reintermediate unique potentialities rather than pandemic information. Continually mesh functional ROI via timely alignments.