---
title: "Clubes asociados"
layout: "page"
---

h1 Clubes Afiliados

.club-card-container
  aside.club-card
    img.club-logo(src='/img/clubs/logo_acueducto.jpg')
    h3 ACUEDUCTO
    p.label Dirección
    p Av. Calle 63, Av. 68, LKB
    p.label Teléfono
    p 315 843 1956
    .card-icons
      a(href='//facebook.com/karate.acueducto?fref=ts').icon-facebook
  //- 		a(href='#').icon-home
  //- 		a(href='mailto:#').icon-mail
  //- 		a(href='//twitter.com').icon-twitter

  aside.club-card
    img.club-logo(src='/img/clubs/logo_chrysler.jpg')
    h3 CHRYSLER
    p.label Dirección
    p UDS. Unidad Deportiva el Salitre
    p.label Teléfono
    p 310 248 3028
    .card-icons
      //- a(href='#').icon-home
      a(href='mailto:vanalza1@hotmail.com').icon-mail
      a(href='//facebook.com/clubchryslerkaratedo?fref=ts').icon-facebook
      //- a(href='//twitter.com').icon-twitter

  aside.club-card
    img.club-logo(src='/img/clubs/logo_condor.jpg')
    h3 CÓNDOR
    p.label Dirección
    p -
    p.label Teléfono
    p -
  //- 	.card-icons
  //- 		a(href='#').icon-home
  //- 		a(href='mailto:#').icon-mail
  //- 		a(href='//facebook.com').icon-facebook
  //- 		a(href='//twitter.com').icon-twitter

  aside.club-card
    img.club-logo(src='/img/clubs/logo_dane.jpg')
    h3 DANE
    p.label Dirección
    p -
    p.label Teléfono
    p -
  //- 	.card-icons
  //- 		a(href='#').icon-home
  //- 		a(href='mailto:#').icon-mail
  //- 		a(href='//facebook.com').icon-facebook
  //- 		a(href='//twitter.com').icon-twitter
  //- 
  aside.club-card
    img.club-logo(src='/img/clubs/logo_dojo_hayato.jpg')
    h3 DOJO HAYATO
    p.label Dirección
    p -
    p.label Teléfono
    p -
  //- 	.card-icons
  //- 		a(href='#').icon-home
  //- 		a(href='mailto:#').icon-mail
  //- 		a(href='//facebook.com').icon-facebook
  //- 		a(href='//twitter.com').icon-twitter
  //- 
  aside.club-card
    img.club-logo(src='/img/clubs/logo_dojo_tori.jpg')
    h3 DOJO TORI
    p.label Dirección
    p -
    p.label Teléfono
    p -
  //- 	.card-icons
  //- 		a(href='#').icon-home
  //- 		a(href='mailto:#').icon-mail
  //- 		a(href='//facebook.com').icon-facebook
  //- 		a(href='//twitter.com').icon-twitter
  //- 
  aside.club-card
    img.club-logo(src='/img/clubs/logo_gomez_kai.jpg')
    h3 GÓMEZ KAI
    p.label Dirección
    p -
    p.label Teléfono
    p -
  //- 	.card-icons
  //- 		a(href='#').icon-home
  //- 		a(href='mailto:#').icon-mail
  //- 		a(href='//facebook.com').icon-facebook
  //- 		a(href='//twitter.com').icon-twitter
  //- 
  aside.club-card
    img.club-logo(src='/img/clubs/logo_jorge_abraham.jpg')
    h3 JORGE ABRAHAM
    p.label Dirección
    p -
    p.label Teléfono
    p -
  //- 	.card-icons
  //- 		a(href='#').icon-home
  //- 		a(href='mailto:#').icon-mail
  //- 		a(href='//facebook.com').icon-facebook
  //- 		a(href='//twitter.com').icon-twitter
  //- 
  aside.club-card
    img.club-logo(src='/img/clubs/logo_kiryoku.jpg')
    h3 KIRIOKU
    p.label Dirección
    p -
    p.label Teléfono
    p -
  //- 	.card-icons
  //- 		a(href='#').icon-home
  //- 		a(href='mailto:#').icon-mail
  //- 		a(href='//facebook.com').icon-facebook
  //- 		a(href='//twitter.com').icon-twitter

  aside.club-card
    img.club-logo(src='/img/clubs/logo_la_victoria.jpg')
    h3 LA VICTORIA
    p.label Dirección
    p Carrera 1c # 41 - 74 Sur
    p.label Teléfono
    p 311 269 8598
    .card-icons
      a(href='//karatedolavictoria.es.tl').icon-home
      a(href='mailto:miguelsensei@yahoo.com').icon-mail
      a(href='//facebook.com/profile.php?id=100009477073885&fref=ts').icon-facebook
      //- a(href='//twitter.com').icon-twitter

  aside.club-card
    img.club-logo(src='/img/clubs/logo_los_libertadores.jpg')
    h3 LIBERTADORES
    p.label Dirección
    p -
    p.label Teléfono
    p -
    //- .card-icons
    //- 	a(href='#').icon-home
    //- 	a(href='mailto:#').icon-mail
    //- 	a(href='//facebook.com').icon-facebook
    //- 	a(href='//twitter.com').icon-twitter

  aside.club-card
    img.club-logo(src='/img/clubs/logo_matizkam.jpg')
    h3 MATIZKAM
    p.label Dirección
    p -
    p.label Teléfono
    p -
    //- .card-icons
    //- 	a(href='#').icon-home
    //- 	a(href='mailto:#').icon-mail
    //- 	a(href='//facebook.com').icon-facebook
    //- 	a(href='//twitter.com').icon-twitter

  aside.club-card
    img.club-logo(src='/img/clubs/logo_nara.jpg')
    h3 NARA
    p.label Dirección
    p -
    p.label Teléfono
    p -
    //- .card-icons
    //- 	a(href='#').icon-home
    //- 	a(href='mailto:#').icon-mail
    //- 	a(href='//facebook.com').icon-facebook
    //- 	a(href='//twitter.com').icon-twitter

  aside.club-card
    img.club-logo(src='/img/clubs/logo_restrepo_millan.jpg')
    h3 RESTREPO MILLAN
    p.label Dirección
    p Carrera 49A # 170 - 45
    p.label Teléfono
    p 672 87 90
    .card-icons
      //- a(href='#').icon-home
      a(href='mailto:rdelgador@outlook.com').icon-mail
      //- a(href='//facebook.com').icon-facebook
      //- a(href='//twitter.com').icon-twitter

  aside.club-card
    img.club-logo(src='/img/clubs/logo_sakura.jpg')
    h3 SAKURA
    p.label Dirección
    p -
    p.label Teléfono
    p -
    //- .card-icons
    //- 	a(href='#').icon-home
    //- 	a(href='mailto:#').icon-mail
    //- 	a(href='//facebook.com').icon-facebook
    //- 	a(href='//twitter.com').icon-twitter

  aside.club-card
    img.club-logo(src='/img/clubs/logo_samurai.jpg')
    h3 SAMURAI
    p.label Dirección
    p Av. 68 con calle 63, Unidad Deportiva el Salitre
    p.label Teléfono
    p 300 552 6662
    .card-icons
      a(href='//www.facebook.com/pages/Club-Deportivo-de-Karate-Do-SAMURAI/95384781977?fref=ts').icon-facebook
    //- 	a(href='#').icon-home
    //- 	a(href='mailto:#').icon-mail
    //- 	a(href='//twitter.com').icon-twitter
