---
title: "Clubes asociados"
layout: "page"
siteArea: 'clubs'
---

h1 Clubes Afiliados

.club-card-container
  aside.club-card
    img.club-logo(src='/img/clubs/logo_acueducto.jpg')
    h3 ACUEDUCTO
    p.label Dirección
    p Av. Calle 63, Av. 68, LKB
    p.label Teléfono
    p 315 843 1956
    .card-icons
      a(href='//facebook.com/karate.acueducto?fref=ts').icon-facebook
  //- 		a(href='#').icon-home
  //- 		a(href='mailto:#').icon-mail
  //- 		a(href='//twitter.com').icon-twitter

  aside.club-card
    img.club-logo(src='/img/clubs/logo_azumi_gomez.png')
    h3 AZUMI GOMEZ RYU
    p.label Dirección
    p Av. Calle 63, Av. 68, UDS Unidad Deportiva el Salitre
    p.label Teléfono
    p 803 26 47
    .card-icons
      // a(href='//facebook.com/karate.acueducto?fref=ts').icon-facebook
      a(href='mailto:hejugo12@yahoo.es').icon-mail
    //- 		a(href='#').icon-home
    //- 		a(href='//twitter.com').icon-twitter

  aside.club-card
    img.club-logo(src='/img/clubs/logo_chrysler.jpg')
    h3 CHRYSLER
    p.label Dirección
    p UDS. Unidad Deportiva el Salitre
    p.label Teléfono
    p 310 248 3028
    .card-icons
      //- a(href='#').icon-home
      a(href='mailto:vanalza1@hotmail.com').icon-mail
      a(href='//facebook.com/clubchryslerkaratedo?fref=ts').icon-facebook
      //- a(href='//twitter.com').icon-twitter

  aside.club-card
    img.club-logo(src='/img/clubs/logo_condor.jpg')
    h3 CÓNDOR
    p.label Dirección
    p UDS. Unidad Deportiva el Salitre
    p.label Teléfono
    p 315 859 8388
    .card-icons
      a(href='//facebook.com/CondorClubDeKarate').icon-facebook
      a(href='mailto:cboteroj@gmail.com').icon-mail
  //- 		a(href='#').icon-home
  //- 		a(href='//twitter.com').icon-twitter

  aside.club-card
    img.club-logo(src='/img/clubs/logo_dane.gif')
    h3 DANE
    p.label Dirección
    p Unidad Deportiva El Salitre - LKB
    p.label Teléfono
    p 312 582 3889
    .card-icons
      a(href='mailto:clubdanekaratedo@gmail.com').icon-mail
      a(href='//facebook.com/clubdanekaratedo.clubdanekaratedo').icon-facebook
  //- 		a(href='#').icon-home
  //- 		a(href='//twitter.com').icon-twitter
  //- 
  aside.club-card
    img.club-logo(src='/img/clubs/logo_dojo_hayato.jpg')
    h3 DOJO HAYATO
    p.label Dirección
    p -
    p.label Teléfono
    p -
  //- 	.card-icons
  //- 		a(href='#').icon-home
  //- 		a(href='mailto:#').icon-mail
  //- 		a(href='//facebook.com').icon-facebook
  //- 		a(href='//twitter.com').icon-twitter
  //- 
  aside.club-card
    img.club-logo(src='/img/clubs/logo_dojo_tori.jpg')
    h3 DOJO TORI
    p.label Dirección
    p Carrera 114 # 148, Conjunto Residencial Oasis II, Suba
    p.label Teléfono
    p 300 467 640
    .card-icons
      a(href='mailto:dojotorii@hotmail.com').icon-mail
      a(href='//facebook.com/dojo.torii').icon-facebook
  //- 		a(href='#').icon-home
  //- 		a(href='//twitter.com').icon-twitter
  //- 
  aside.club-card
    img.club-logo(src='/img/clubs/logo_jkai.jpg')
    h3 J KAI
    p.label Dirección
    p Calle 63a # 69a - 40
    p.label Teléfono
    p 312 482 1555
    .card-icons
      a(href='mailto:clubdekaratejkai@gmail.com').icon-mail
  //- 		a(href='#').icon-home
  //- 		a(href='//facebook.com').icon-facebook
  //- 		a(href='//twitter.com').icon-twitter
  //- 
  aside.club-card
    img.club-logo(src='/img/clubs/logo_jorge_abraham.jpg')
    h3 JORGE ABRAHAM
    p.label Dirección
    p -
    p.label Teléfono
    p -
  //- 	.card-icons
  //- 		a(href='#').icon-home
  //- 		a(href='mailto:#').icon-mail
  //- 		a(href='//facebook.com').icon-facebook
  //- 		a(href='//twitter.com').icon-twitter
  //- 
  aside.club-card
    img.club-logo(src='/img/clubs/logo_kiryoku.jpg')
    h3 KIRIOKU
    p.label Dirección
    p -
    p.label Teléfono
    p -
  //- 	.card-icons
  //- 		a(href='#').icon-home
  //- 		a(href='mailto:#').icon-mail
  //- 		a(href='//facebook.com').icon-facebook
  //- 		a(href='//twitter.com').icon-twitter

  aside.club-card
    img.club-logo(src='/img/clubs/logo_la_victoria.jpg')
    h3 LA VICTORIA
    p.label Dirección
    p Carrera 1c # 41 - 74 Sur
    p.label Teléfono
    p 311 269 8598
    .card-icons
      a(href='//karatedolavictoria.es.tl').icon-home
      a(href='mailto:miguelsensei@yahoo.com').icon-mail
      a(href='//facebook.com/profile.php?id=100009477073885&fref=ts').icon-facebook
      //- a(href='//twitter.com').icon-twitter

  aside.club-card
    img.club-logo(src='/img/clubs/logo_los_libertadores.jpg')
    h3 LIBERTADORES
    p.label Dirección
    p -
    p.label Teléfono
    p -
    //- .card-icons
    //- 	a(href='#').icon-home
    //- 	a(href='mailto:#').icon-mail
    //- 	a(href='//facebook.com').icon-facebook
    //- 	a(href='//twitter.com').icon-twitter

  aside.club-card
    img.club-logo(src='/img/clubs/logo_matizkam.jpg')
    h3 MATIZKAM
    p.label Dirección
    p -
    p.label Teléfono
    p -
    //- .card-icons
    //- 	a(href='#').icon-home
    //- 	a(href='mailto:#').icon-mail
    //- 	a(href='//facebook.com').icon-facebook
    //- 	a(href='//twitter.com').icon-twitter

  aside.club-card
    img.club-logo(src='/img/clubs/logo_nara.jpg')
    h3 NARA
    p.label Dirección
    p UDS. Unidad Deportiva el Salitre LKB
    p.label Teléfono
    p 312 522 7091
    //- .card-icons
    //- 	a(href='#').icon-home
    //- 	a(href='mailto:#').icon-mail
    //- 	a(href='//facebook.com').icon-facebook
    //- 	a(href='//twitter.com').icon-twitter

  aside.club-card
    img.club-logo(src='/img/clubs/logo_restrepo_millan.jpg')
    h3 RESTREPO MILLAN
    p.label Dirección
    p Carrera 49A # 170 - 45
    p.label Teléfono
    p 672 87 90
    .card-icons
      //- a(href='#').icon-home
      a(href='mailto:rdelgador@outlook.com').icon-mail
      //- a(href='//facebook.com').icon-facebook
      //- a(href='//twitter.com').icon-twitter

  aside.club-card
    img.club-logo(src='/img/clubs/logo_sakura.jpg')
    h3 SAKURA
    p.label Dirección
    p UDS. Unidad deportiva el Salitre
    p.label Teléfono
    p 310 245 5736
    .card-icons
      a(href='//facebook.com/groups/10493347930').icon-facebook
      a(href='mailto:club.sakura@gmail.com').icon-mail
    //- 	a(href='#').icon-home
    //- 	a(href='//twitter.com').icon-twitter

  aside.club-card
    img.club-logo(src='/img/clubs/logo_samurai.jpg')
    h3 SAMURAI
    p.label Dirección
    p Av. 68 con calle 63, Unidad Deportiva el Salitre
    p.label Teléfono
    p 300 552 6662
    .card-icons
      a(href='//www.facebook.com/pages/Club-Deportivo-de-Karate-Do-SAMURAI/95384781977?fref=ts').icon-facebook
    //- 	a(href='#').icon-home
    //- 	a(href='mailto:#').icon-mail
    //- 	a(href='//twitter.com').icon-twitter
