---
title: 'Galerías'
layout: 'mediaPage'
siteArea: 'media'
headline: 'Galerías'
---

.gallery-card-image
  a(href='//www.facebook.com/media/set/?set=a.799751483442009.1073741881.356963597720802&type=3')
    img(src='/img/media/thumbnails/bogota-campeona.jpg')
    h4 Bogotá campeona

.gallery-card-image
  a(href='//www.facebook.com/media/set/?set=a.415895981827563.104842.356963597720802&type=3')
    img(src='/img/media/thumbnails/baul-recuerdos.jpg')
    h4 Baúl de recuerdos

.gallery-card-image
  a(href='//www.facebook.com/media/set/?set=a.377046242379204.97002.356963597720802&type=3')
    img(src='/img/media/thumbnails/40-anos.jpg')
    h4 40 años de la Liga en fotografías

.gallery-card-video
  iframe(id='ytplayer' type='text/html' width='320' height='195' src='http://www.youtube.com/embed/FShQGOqXnN4' frameborder='0')
  h4 Juramento Karate Do - Dojo Kun
  
.gallery-card-video
  iframe(id='ytplayer' type='text/html' width='320' height='195' src='http://www.youtube.com/embed/2CJkdPD6SKA' frameborder='0')
  h4 40 años de la Liga de Karate de Bogotá
  
//- gallery-card-image

.gallery-card-video
  iframe(id='ytplayer' type='text/html' width='320' height='195' src='http://www.youtube.com/embed/I-PFZihaFP8' frameborder='0')
  h4 Mensaje de año nuevo LKB
