<html lang="es">
    {{ partial "head.html" . }}
    <body>

        {{ partial "header.html" }}

            <div class='master-container'>
                <h1 class="nw-mainTitle">Noticias</h1>
                <div class="nw-wrapper">
                    <!-- {{ partial "navigation.html" .Site.Data.navigation }} -->
                    {{ partial "navigation.html" . }}
                    <main>
                    {{range where .Site.RegularPages "Section" "news"}}
                        <article class="nw-article">
                            <a class="nw-article--headLink" href="{{ .URL }}"><h1 class="nw-article--headLine">{{ .Title }}</h1></a>
                            <a class="nw-article--headLink" href="{{ .URL }}"><img class="nw-article--coverImage" src="{{ .Params.coverImage }}" alt="Imagen de portada para el artículo: {{ .Title }}"></a>
                        </article>
                    {{end}}
                    {{if .Params.coverImage }}
                        <img src="{{ .Params.coverImage}}" alt="Imagen principal"> 
                    {{ end }}
                        {{ .Content}}
                    </main>
                </div>
            </div>

        {{ partial "footer.html" }}

    </body>
</html>


