<html lang="es">
    {{ partial "head.html" . }}
    <body>

        {{ partial "header.html" }}

            <div class='master-container'>
                <h1 class="at-headline">{{ .Title }}</h1>
                <div class="at-wrapper">
                    <!-- {{ partial "navigation.html" .Site.Data.navigation }} -->
                    {{ partial "navigation.html" . }}
                    <main class="at-body">
                    {{if .Params.coverImage }}
                        <img src="{{ .Params.coverImage}}" alt="Imagen principal"> 
                    {{end }}
                        {{ .Content}}
                    </main>
                </div>
            </div>

        {{ partial "footer.html" }}

    </body>
</html>


