.cs
  position relative
  width 100vw
  height 45vw
  background pink
  white-space nowrap
  overflow-x auto
  overflow-y hidden
  -webkit-scroll-snap-type mandatory
  scroll-snap-type mandatory
  -webkit-scroll-snap-destination 50% 50%
  scroll-snap-destination 50% 50%
  scroll-behavior smooth

.cs-logo
  position fixed
  z-index 2
  top 2vw
  left 2vw
  height 9vw
  width 9vw
  filter drop-shadow(2px 2px 4px rgba(#fff 0.55))

.cs-item
  position relative
  width 100vw
  height 45vw

.cs-item__img
  width 100%
  height 45vw
  object-fit cover
  object-position 50% 20%
  // filter grayscale(100%)
  -webkit-scroll-snap-coordinate 50% 50%
  scroll-snap-coordinate 50% 50%

.cs-item__info
  padding 3vw
  width 100%
  position absolute
  display flex
  flex-flow column wrap
  bottom 0
  background rgba(#1D222A 76%)
  // background hsla(223,38,18,76%)
  transition background 0.4s ease-out
  &:hover
    background rgba(#0d111c 90%)

.cs-item__title
  color white
  padding-bottom 12px

.cs-item__description
  font-size 18px
  color white
  width 10em
  font-family 'Raleway'

.cs-item__imgFilter
  background linear-gradient(to bottom, rgba(#f00 0.2), transparent 90%), linear-gradient(to right, rgba(#f00 0.62), transparent 40%), linear-gradient(130deg, rgba(#f00 0.71), transparent), linear-gradient(50deg, yellow, rgba(#ff0, 0.7) 50%, transparent)
  mix-blend-mode multiply
  width 100%
  height 46vw
  position absolute
  top -44vw

.cs-controls
  display flex
  justify-content center
  padding 1em 0

.cs-controlIcons
  font-size 16px
  padding 0
  margin 0 1px
  cursor pointer
  color red
