<nav class="nav-full">

    {{ if .Params.section}}
        {{ $type := .Params.Section }}
        {{ range $item := .Site.Data.navigation.navigation }}
            {{ if eq $item.section $type }}
            <a href="{{ $item.href}}" class='current-area'>{{ $item.label}}</a>
            {{ else }}
            <a href="{{ $item.href}}">{{ $item.label}}</a>
            {{ end }}
        {{ end }}
    {{ else }}
        {{ $type := .Page.Section }}
        {{ range $item := .Site.Data.navigation.navigation }}
            {{ if eq $item.section $type }}
            <a href="{{ $item.href}}" class='current-area'>{{ $item.label}}</a>
            {{ else }}
            <a href="{{ $item.href}}">{{ $item.label}}</a>
            {{ end }}
        {{ end }}
    {{ end }}
    <a class="icon-facebook" href="//www.facebook.com/ligakaratebogota/"></a>
</nav>
