doctype html
html(lang='es')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(href='http://fonts.googleapis.com/css?family=Lato:300,400|Raleway:300,400' rel='stylesheet' type='text/css')
		link(type='image/x-icon' href='/img/favicon.ico' rel='shorcut icon')
		block title
		//- link(rel='stylesheet' href='/css/rupture.css' type='css/stylesheet')
		script(src='/js/jquery-min.js')
		block scripts
		link(rel='stylesheet' href='css/main-min.css' type='text/css')
		block css

	body
		include header

		block content

		include links

		block async
