extends base.jade
block css
	link(rel='stylesheet' href='css/articles-min.css' type='text/css')

block content
	- var currentSection = 'clubs'
	
	.article-container
		include nav-sidebar
		article
			block article