extends base.jade

block css
	link(rel='stylesheet' href='css/contact-min.css' type='text/css')

block content
	- var currentSection = 'contact'
	.contact-container
		.headline
			block headline
		include nav-sidebar
		block form