doctype html
html(lang='es')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(href='http://fonts.googleapis.com/css?family=Lato:300,400|Raleway:300' rel='stylesheet' type='text/css')
		block title
		script(src='/js/jquery-min.js')
		script(src='/galleria/galleria-1.4.2.min.js')
		//- link(rel='stylesheet' href='css/main-min.css' type='text/css')
		link(rel='stylesheet' href='/css/gallery.css')


	body
		.nav-menu
			button.nav-toggle ☰
			include nav-sidebar
		//-  .slide-controller
		//- 	button.icon-left-open
		//- 	button.icon-right-open
		.galleria
			block images
		
		script.
			Galleria.loadTheme('/galleria/classic/galleria.classic.min.js');
			Galleria.configure({thumbnails: 'false', transition: 'fade'});
			Galleria.run('.galleria');
			var gallery;gallery=function(){$(".nav-toggle").click(function(){var l,g;g=$(".nav-toggle"),g.toggleClass("unfold-toggle"),l=$(".nav-full"),l.toggleClass("nav-active"),console.log("Bang, bang he shot me down")})},$(document).ready(gallery);
