doctype html
html(lang='es')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(href='http://fonts.googleapis.com/css?family=Lato:300,400|Raleway:300' rel='stylesheet' type='text/css')
		block title
		//- link(rel='stylesheet' href='/css/rupture.css' type='css/stylesheet')
		script(src='/js/jquery-min.js')
		link(rel='stylesheet' href='css/main-min.css' type='text/css')
		block css

	
	button.nav-toggle ☰
	include nav-sidebar
	.images-container
		block images
	.icon-left-open
	.icon-right-open
	block async
		script
			include ../build/js/gallery-min.js
