extends base
	
block title
	title Liga de Karate Do de Bogotá

block content
	div.container

		section.about
			a(href='/about.html') ¿Quiénes somos?
			a(href='/history.html') Historia
			a(href='/results.html') Resultados deportivos
			a(href='/multimedia.html') Galerías
			a(href='/contact.html') Contáctenos	
			a(href='/clubs.html') Clubes Afiliados
			a.icon-facebook(href='https://www.facebook.com/ligakaratebogota?fref=ts')

		section.info
			h2 Horarios
			p #[b Lunes a viernes:]
			p 7:30 a.m. - 12:30 m. y 4:30 p.m. - 7:30 p.m.
			p #[b Sábados:]
			p 9:30 a.m. - 1:30 p.m.
			h2 Requisitos de inscripción en la LKB:
			ul
				li 2 Fotografías de 3x4
				li Certificado médico de aptitud física
				li Fotocopia de EPS o POS
				li Fotocopia del documento de identidad
				li Certificado de estudio o trabajo
				li Formulario de inscripción diligenciado (suministrado en la oficina de la LKB)
				li Cancelar el valor de la matrícula
			h2 Beneficios
			p You insta get 10.000 cool points in life!	
			p Lorem ipsum Magna ut aute ex reprehenderit consectetur.
			p Lorem ipsum In adipisicing proident non esse proident aliqua sit consequat mollit.
			p Karate and moustaches are imba!
			.ads
				.ad
					h2 Espacio para pauta 1
					img(src='/img/img-placeholder.jpg')
				.ad
					h2 Espacio para pauta 2
					img(src='/img/img-placeholder.jpg')
		section.news
			h2 Noticias
			.carousel
				.slide.active-slide
					a.feature(href='//article-1.html')
						h3 ¡Bogotá campeona!
					img.slide-img(src='img/campeona.jpg')
				.slide
					.feature
						h3 Nacionales Cali - Día 1
					img.slide-img(src='img/day1.jpg')
				.arrows-container
					.icon-left-open
					.icon-right-open
block async
	script
		include ../build/js/carousel.js
