{{ define "main" }}
<div class='master-container'>
    <div class="headline">
        <h1>{{ .Title }}</h1>
    </div>
    <div class='content-container'>
        {{ partial "navigation" . }}
        <div class='card-container'>
            {{ range where .Site.RegularPages "Section" "galerias" }}
                {{ if eq .Params.galleryType "image"}}
                <div class="gallery-card-image">
                    <a href="{{ .Params.galleryURL }}" target="_blank">
                        <img src="{{ .Params.galleryThumbnail }}" alt="Imagen {{ .Title }}">
                        <h4>{{ .Title }}</h4>
                    </a>
                </div>
                {{ else }}
                <div class="gallery-card-video">
                    <iframe src="{{ .Params.galleryURL }}" frameborder="0" type="text/html" width="320" height="195"></iframe>
                    <h4>{{ .Title }}</h4>
                </div>
                {{end}}
            {{ end }}
        </div>
    </div>
  </div>
{{ end }}
